#album-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    gap: 20px; 
    width: 100%; 
    padding-bottom: 40px; 
  }
  
  .albumCard {
    height: auto; 
    width: 300px; 
    background-color: var(--gray-7);
    border-radius: 8px;
    overflow: hidden;
  }
  
  .albumCard img {
    width: 100%;
    height: 250px; 
    object-fit: cover;
  }
  
  .albumCardInfo {
    display: flex;
    flex-direction: column; 
    padding: 1rem;
    gap: 10px;
  }

.searchAlbuns{
    font-size: 24px;
    font-weight: 600;
    color: var(--gray-2);
    width: 100%;
  }
  

.albumTitle{
    font-size: 22px;
    font-weight: 600;
    color: var(--gray-2);
    width: 100%;
}

.albumName, .albumGenre{
    font-size: 16px;
    font-weight: 400;
    color: var(--gray-3);
}

.albumPrice{
    font-size: 20px;
    font-weight: 600;
    margin-top: 0.6rem;
    color: var(--gray-2);
}


.buyButton{
    width: 87px;
    border: 1px solid var(--brand-2);
    background-color: var(--brand-2);
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
}

